<ion-view view-title="PouchDB">
  <ion-pane ng-controller="OverviewController as vm">
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="b in vm.birthdays" ng-click="vm.showEditBirthdayModal(b)">
          <div style="float: left">{{ b.Name }}</div>
          <div style="float: right">{{ b.Date | date:"dd MMMM yyyy" }}</div>
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer">
      <button class="button button-icon icon ion-plus pull-right" ng-click="vm.showAddBirthdayModal()"></button>
    </div>
  </ion-pane>
</ion-view>
