# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
resources/
platforms/
plugins/
temp/
res/

www/lib/

*.DS_Store
*.log
*.swp

*.git-credentials
*.bowerrc
