<ion-view view-title="{{'VIEW_TITLE_SIMPLE_SEARCH' | translate}}">
  <ion-content>
    <label class="item item-input">
      <span class="input-label" translate>CARD_NAME</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label" translate>CARD_TYPE</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label" translate>CARD_SUBTYPE</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label" translate>CARD_TEXT</span>
      <input type="text">
    </label>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label" translate>RARITY</div>
        <select>
          <option selected translate>ANY</option>
          <option translate>UNCOMMOM</option>
          <option translate>COMMOM</option>
          <option translate>RARE</option>
          <option translate>MYTHIC</option>
        </select>
      </label>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label" translate>FORMAT</div>
        <select>
          <option selected translate>ANY</option>
          <option translate>BLOCK</option>
          <option translate>COMMANDER</option>
          <option translate>EXTENDED</option>
          <option translate>LEGACY</option>
          <option translate>MODERN</option>
          <option translate>STANDARD</option>
          <option translate>VINTAGE</option>
        </select>
      </label>
    </div>
    <label class="checkbox" >
      <span class="input-label" translate>BLUE</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>RED</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>BLACK</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>WHITE</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>GREEN</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>COLORLESS</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label" translate>ANY_COLOR</span>
      <input type="checkbox">
    </label>

  </ion-content>
</ion-view>
