<ion-view view-title="{{'view_title_simple_search' | translate}}">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">{{"card_name" | translate}}</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">{{"card_type" | translate}}</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">{{"card_subtype" | translate}}</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">{{"card_text" | translate}}</span>
      <input type="text">
    </label>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          {{"rarity" | translate}}
        </div>
        <select>
          <option selected>{{"any" | translate}}</option>
          <option>{{"uncommom" | translate}}</option>
          <option>{{"commom" | translate}}</option>
          <option>{{"rare" | translate}}</option>
          <option>{{"mythic" | translate}}</option>
        </select>
      </label>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          {{"format" | translate}}
        </div>
        <select>
          <option selected>{{"any" | translate}}</option>
          <option>{{"block" | translate}}</option>
          <option>{{"commander" | translate}}</option>
          <option>{{"extended" | translate}}</option>
          <option>{{"legacy" | translate}}</option>
          <option>{{"modern" | translate}}</option>
          <option>{{"standard" | translate}}</option>
          <option>{{"vintage" | translate}}</option>
        </select>
      </label>
    </div>
    <label class="checkbox" >
      <span class="input-label">{{"blue" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"red" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"black" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"white" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"green" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"colorless" | translate}}</span>
      <input type="checkbox">
    </label>
    <label class="checkbox" >
      <span class="input-label">{{"any_color" | translate}}</span>
      <input type="checkbox">
    </label>

  </ion-content>
</ion-view>
