<ion-view view-title="Concrete Tab">
    <ion-tabs class="tabs-striped tabs-color-assertive">
        <!-- Tab 1 -->
      <ion-tab title="Tab 1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"">
        <ion-pane>
            <ion-view>
                <ng-include src="'templates/concrete-tabs/tab1.html'"></ng-include>
            </ion-view>
        </ion-pane>
      </ion-tab>
      
      <!-- Tab 2 -->
      <ion-tab title="Tab 2" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong">
        <ion-pane>
            <ion-view>
                <ng-include src="'templates/concrete-tabs/tab2.html'"></ng-include>
            </ion-view>
        </ion-pane>
      </ion-tab>
    </ion-tabs>
</ion-view>
