<ion-content>
  <ion-list>
    <ion-item menu-close ng-click="login()" href="#">
      Login
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.browse">
      Browse
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.playlists">
      Playlists
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.concreteTab">
      Concrete Tab
    </ion-item>
    <ion-item menu-close href="#" ui-sref="tab.account">
      Abstract Tab
    </ion-item>
  </ion-list>
</ion-content>

