<ion-content>
  <ion-list>
    <ion-item menu-close ng-click="login()" href="#">
      {{"MENUITEM_LOGIN" | translate}}
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.infoGatherer">
      {{"MENUITEM_INFOGATHERER" | translate}}
    </ion-item>
    <ion-item menu-close href="#" ui-sref="cardSearch.simpleSearch">
      {{"MENUITEM_CARD_SEARCH" | translate}}
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.settings">
      {{"MENUITEM_SETTINGS" | translate}}
    </ion-item>
    <ion-item menu-close href="#" ui-sref="app.test">
      TEST
    </ion-item>
  </ion-list>
  <div class="list">
</div>
</ion-content>
